<div class="feature">
	<div class="image rounded">
    {% include "atoms-circle" %}
  </div>
	<div class="content">
		<header>
			<h4>Lorem ipsum</h4>
			<p>Lorem ipsum dolor sit</p>
		</header>
		<p>{{ excerpt.medium }}</p>
	</div>
</div>
