<section id="four" class="wrapper style3 special">
	<div class="container">

		{% include "molecules-heading-group" %}

		<ul class="actions">
			<li>{% include "atoms-button-2" %}</li>
		</ul>

	</div>
</section>
