<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #F32853;"></span>
		<span class="sg-label">Amaranth</span>
		<span class="sg-label">#F32853</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #666;"></span>
		<span class="sg-label">Dove Gray</span>
		<span class="sg-label">#666</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #484848;"></span>
		<span class="sg-label">Tundora</span>
		<span class="sg-label">#484848</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #323037;"></span>
		<span class="sg-label">BalticSea</span>
		<span class="sg-label">#323037</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #3e3c45;"></span>
		<span class="sg-label">Ship Gray</span>
		<span class="sg-label">#3e3c45</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">White</span>
		<span class="sg-label">#ffffff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #808080;"></span>
		<span class="sg-label">Gray</span>
		<span class="sg-label">#808080</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">Black</span>
		<span class="sg-label">#000000</span>
	</li>
</ul>
